
test.ppm
x64/Debug/demo.cu-2096165636.deps
x64/Debug/demo.cu.cache
x64/Debug/demo.cu.obj
x64/Debug/kernel.cu-380956874.deps
x64/Debug/kernel.cu.cache
x64/Debug/kernel.cu.obj
x64/Debug/MinimalRayTracer.Build.CppClean.log
x64/Debug/MinimalRayTracer.device-link.obj
x64/Debug/MinimalRayTracer.exe
x64/Debug/MinimalRayTracer.exp
x64/Debug/MinimalRayTracer.ilk
x64/Debug/MinimalRayTracer.lib
x64/Debug/MinimalRayTracer.log
x64/Debug/MinimalRayTracer.pdb
x64/Debug/MinimalRayTracer.tlog/link.command.1.tlog
x64/Debug/MinimalRayTracer.tlog/link.read.1.tlog
x64/Debug/MinimalRayTracer.tlog/link.write.1.tlog
x64/Debug/MinimalRayTracer.tlog/MinimalRayTracer.lastbuildstate
x64/Debug/MinimalRayTracer.tlog/MinimalRayTracer.write.1u.tlog
x64/Debug/vc141.pdb
*.ipch
*.obj
*.deps
*.cache
*.tlog
*.log
*.db
*.pdb
*.json
*.opendb
*.exe
*.exp
*.ilk
